<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  </head>
  <body>
    <h1>Hello, world!</h1>
    <form action="/bookings/update/<%= booking._id %>" method="POST">
      <div class="row mb-3">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input value="<%= booking.email %>" class="form-control" id="inputEmail3" name="email" required>
          </div> 
        </div>
        <div class="row mb-3">
          <label for="inputPassword3" class="col-sm-2 col-form-label">Number of tickets</label>
          <div class="col-sm-10">
            <input value="<%= booking.numTickets %>" class="form-control" id="inputPassword3" name="numTickets" min=1 max=4>
          </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Favourite Team</label>
            <select class="form-select" aria-label="Default select example" onchange="teamSelected(this.value)" name="team">
                <option selected>Open this select menu</option>
                <option value="Avengers">Avengers</option>
                <option value="JLA">Justice League</option>
            </select>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Favourite Hero</label>
            <select class="form-select" aria-label="Default select example" id="superhero" name="superhero" disabled>
            </select>
        </div>
        <fieldset class="row mb-3">
          <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="payment" id="gridRadios1" value="Credit Card" checked>
              <label class="form-check-label" for="gridRadios1">
                Pay with Credit Card
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="payment" id="gridRadios2" value="Paypal">
              <label class="form-check-label" for="gridRadios2">
                Pay with Paypal
              </label>
            </div>
            <div class="form-check disabled">
          
              <input class="form-check-input" type="radio" name="payment" id="gridRadios3" value="Octopus" disabled>
              <label class="form-check-label" for="gridRadios3">
                  Pay with Octopus
              </label>
            </div>
          </div>
        </fieldset>
        <div class="row mb-3">
          <div class="col-sm-10 offset-sm-2">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck1" name="terms">
              <label class="form-check-label" for="gridCheck1">
                Agree to terms and conditions
              </label>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Buy Tickets</button>
      </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script>
        var avengers = ["Captain America", "Iron Man", "Thor", "Hulk", "Black Widow", "Hawkeye"];
        var jla = ["Superman", "Batman", "Wonder Woman", "Flash", "Green Lantern", "Aquaman"];
        function teamSelected(team) {
    // alert(team);
    var superheroElem = document.getElementById("superhero");
superheroElem.options.length = 0;
if (team == "Avengers") {
    
    for (var hero of avengers) {
        var option = document.createElement("option");
        option.text = hero;
        option.value = hero;
        superheroElem.add(option);
    }

    superheroElem.disabled = false;

} else if (team == "JLA") {
    
    for (var hero of jla) {
        var option = document.createElement("option");
        option.text = hero;
        option.value = hero;
        superheroElem.add(option);
    }

    superheroElem.disabled = false;

} else {

    superheroElem.disabled = true;
}
}
    document.querySelector("option[value='<%= booking.team %>']").selected = true;
    teamSelected('<%= booking.team %>')
    document.querySelector("option[value='<%= booking.superhero %>']").selected = true;
    document.querySelector("input[value='<%= booking.payment %>']").checked = true;
    document.querySelector("#gridCheck1").checked = "<%= booking.terms %>";
</script>

  </body>
</html>